.ResultsButton {
    background-color: white;
    border: 2px solid #90D4D9;
    border-radius: 8px;
    border-width: 2px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Times','Wingdings 3';
    text-align: center;
    transition-duration: 0.4s;
}

.ResultsButton:hover {
    background-color: #90D4D9;
}

.ResultsButton:active {
    background-color: #90D4D9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.CancelButton {
    background-color: white;
    border: 2px solid #fa7377;
    border-radius: 8px;
    border-width: 2px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Times','Wingdings 3';
    text-align: center;
    transition-duration: 0.4s;
}

.CancelButton:hover {
    background-color: #fa7377;
} 

.CancelButton:active {
    background-color: #fa7377;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}